<% provide(:title, "Soon") %>
<!DOCTYPE html>
<html X-Frame-Options: SAMEORIGIN>
  <head>
    <title><%= yield(:title) %> |</title>
  </head>

  <body>


    <div class="embed-responsive embed-responsive-16by9">
      <%= image_tag("comingsoon.png", alt: "Coming soon") %>
    </div>
  </body>
</html>
