<% provide(:title, "CreateCode") %>
<!DOCTYPE html>
<html X-Frame-Options: SAMEORIGIN>
  <head>
    <title><%= yield(:title) %> |</title>
  </head>
  <body>
    <div class="center jumbotron">
      <h1 id="first">CreateCode</h1>
      <div class="homeText">
      <h3>Translating made easy!</h3><br /><br />
      <% if false %>
        <%= link_to "Sign up!", new_creator_registration_path, class: "btn btn-lg btn-primary" %>
        <%= link_to "Log in!", new_creator_session_path, class: "btn btn-lg btn-primary" %>
      <% end %>
    </div>
  </div>
  <div class="embed-responsive embed-responsive-16by9">
    <%= image_tag("diversity.jpg", alt: "Diversity image", size: "800x600") %>
  </div>
  <br/>

  </body>
</html>
